<div class="container-fluid">
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
      <a href="#" routerLink="/employee/create/" class="btn btn-success">Create New Employee</a>
    </div>
  </div>
  <div class="row">
    <form class="date-block" [formGroup]="filterForm">
      <div class="col">
        <div class="d-flex bd-highlight mb-2">
          <div class="p-2 bd-highlight">
            Min Salary: <input type="number" placeholder="Min Salary" formControlName="min_salary" required>
            Max Salary: <input type="number" placeholder="Max Salary" formControlName="max_salary" required>
            <button class="btn btn-primary" [disabled]="!filterForm.valid" (click)="onClick()" style="margin-left: 10px;">Search</button>
          </div>
        </div>
      </div>
    </form>
    <div class="col">
      <div class="d-flex bd-highlight mb-2" style="margin-left: 80%;">
        <div class="p-2 bd-highlight">
          <select (change)="onTableSizeChange($event)" class="custom-select">
            <option *ngFor="let size of tableSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <table matSort (matSortChange)="sortData($event)" class="table table-bordered">
    <tr style="text-align: center;">
      <th>No</th>
      <th mat-sort-header="username">Username</th>
      <th mat-sort-header="firstname">First Name</th>
      <th mat-sort-header="lastname">Last Name</th>
      <th mat-sort-header="email">Email</th>
      <th mat-sort-header="birthdate">Birthdate</th>
      <th mat-sort-header="basic_salary">Basic Salary</th>
      <th mat-sort-header="status">Status</th>
      <th mat-sort-header="groups">Group</th>
      <th mat-sort-header="description">Description</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let post of posts | paginate : {
      itemsPerPage: tableSize,
      currentPage: page,
      totalItems: count
    }; index as i">
      <td style="text-align: center;">{{i+1+tableSize*(page-1)}}</td>
      <td>{{ post.username }}</td>
      <td>{{ post.firstname }}</td>
      <td>{{ post.lastname }}</td>
      <td>{{ post.email }}</td>
      <td>{{ post.birthdate | date:'dd-MM-yyyy' }}</td>
      <td>Rp. {{ post.basic_salary | numberFormat }}</td>
      <td>{{ post.status }}</td>
      <td>{{ post.groups }}</td>
      <td>{{ post.description | date:'dd-MM-yyyy' }}</td>
      <td style="text-align: center;">
        <a href="#" [routerLink]="['/employee/', post.id, 'view']" class="btn btn-info">Detail</a>
          <a href="#" [routerLink]="['/employee/', post.id, 'edit']" class="btn btn-warning">Edit</a>
          <button type="button" (click)="deletePost(post.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
  <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
