<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
   <form [formGroup]="login" *ngIf="!isLoggedIn">
     <label for="username">Username</label>
     <input type="text" placeholder="username" class="form-control" formControlName="username"/>
     <label for="password">Password</label>
     <input type="password" placeholder="password" class="form-control" formControlName="password"/>
     <button class="btn btn-primary btn-block" (click)="loginForm(login.value)" [disabled]="!login.valid" style="margin-top: 20px;">Login</button>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn" style="text-align: center;">
      Logged in
    </div>
  </div>
</div>
